# Data Analysis with Pandas - Video Game Stats
## Matthew Santorsola
## 13 Jul 21

In [148]:
import pandas as pd
import numpy as np
df = pd.read_csv('vgsales.csv')

In [149]:
df.shape

(16598, 11)

In [150]:
df1 = df.copy()

In [89]:
!head -n 2 vgsales.csv

Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [102]:
headers = !head -n 1 vgsales.csv
len(headers[0].split(','))

11

In [152]:
df1.rename(str.lower,axis='columns', inplace=True).columns

AttributeError: 'NoneType' object has no attribute 'columns'

In [153]:
df1.head(2)

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24

In [154]:
df1.dtypes

rank              int64
name             object
platform         object
year            float64
genre            object
publisher        object
na_sales        float64
eu_sales        float64
jp_sales        float64
other_sales     float64
global_sales    float64
dtype: object

In [155]:
#gets column names into list for easy copying
df1.columns

Index(['rank', 'name', 'platform', 'year', 'genre', 'publisher', 'na_sales',
       'eu_sales', 'jp_sales', 'other_sales', 'global_sales'],
      dtype='object')

In [174]:
# apply only for those games with over 10,000 sales

df1_sales = df1[df1.global_sales>0.01][['rank','name', 'platform', 'year', 'genre', 'publisher', 'na_sales', 'global_sales']]

In [157]:
df1_sales.shape

(15980, 7)

In [158]:
# summary statistics of data set
df1_sales.global_sales.describe()

count    15980.000000
mean         0.557839
std          1.581284
min          0.020000
25%          0.070000
50%          0.190000
75%          0.500000
max         82.740000
Name: global_sales, dtype: float64

In [166]:
# Which company is the most common video game publisher?
# >>> Electronic Arts - 1339
df1_sales.publisher.value_counts()

Electronic Arts                 1339
Activision                       963
Ubisoft                          901
Namco Bandai Games               899
Konami Digital Entertainment     815
                                ...
Grand Prix Games                   1
DigiCube                           1
Playmates                          1
WayForward Technologies            1
RED Entertainment                  1
Name: publisher, Length: 556, dtype: int64

In [162]:
# Top 10 publishers
# https://stackoverflow.com/questions/48590268/pandas-get-the-most-frequent-values-of-a-column
n = 10
df1_sales['publisher'].value_counts()[:n].index.tolist()

['Electronic Arts',
 'Activision',
 'Ubisoft',
 'Namco Bandai Games',
 'Konami Digital Entertainment',
 'THQ',
 'Nintendo',
 'Sony Computer Entertainment',
 'Sega',
 'Take-Two Interactive']

In [171]:
# What’s the most common platform
# >>> PS2     2094
n=10
df1_sales.platform.value_counts()[:n]

PS2     2094
DS      2074
PS3     1300
Wii     1296
X360    1231
PS      1188
PSP     1121
PC       855
XB       808
GBA      791
Name: platform, dtype: int64

In [168]:
# What about the most common genre?
# >>> Action          3209
df1_sales.genre.value_counts()

Action          3209
Sports          2296
Misc            1678
Role-Playing    1447
Shooter         1279
Racing          1207
Adventure       1138
Platform         871
Simulation       842
Fighting         823
Strategy         643
Puzzle           547
Name: genre, dtype: int64

In [170]:
# What are the top 20 highest grossing games?

df1_sales[['name','global_sales']].sort_values('global_sales', ascending=False).head(20)

                                            name  global_sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [175]:
# For North American video game sales, what’s the median?

df1_sales.na_sales.median()

0.08

In [197]:
# Provide a secondary output showing ten games surrounding the median sales output

above = df1_sales[df1_sales['na_sales'] > df1_sales.na_sales.median()][['name','na_sales']].sort_values('na_sales').head(5)

above.sort_values('name')

                                     name  na_sales
6656                      Animal Paradise      0.09
6235                  Mass Effect Trilogy      0.09
11012  NERF N-Strike: Double Blast Bundle      0.09
7564                               XCOM 2      0.09
3303            pro evolution soccer 2011      0.09

In [198]:
#Provide a secondary output showing ten games surrounding the median sales output

below = df1_sales[df1_sales['na_sales'] < df1_sales.na_sales.median()][['name','na_sales']].sort_values('na_sales').tail(5)

below.sort_values('name')

                               name  na_sales
9408                    Chicken Run      0.07
11539  Code Lyoko: Fall of X.A.N.A.      0.07
9761    Megamind: Ultimate Showdown      0.07
9420     Nagano Winter Olympics '98      0.07
137               World of Warcraft      0.07

In [211]:
# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

max_sales = df1_sales.global_sales.max()
mean_sales = df1_sales.global_sales.mean()
std_sales = df1_sales.global_sales.std()

In [212]:
max_sales

82.74

In [213]:
mean_sales

0.5578385481852316

In [214]:
std_sales

1.5812838924663075

In [215]:
(max_sales-mean_sales)/std_sales

51.971794466100796

In [229]:
# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?
# https://dfrieds.com/data-analysis/pivot-table-python-pandas.html

# Wii #4 in total sales #9 in avg sales

df1_sales.pivot_table(index='platform', values='global_sales', aggfunc='mean').round(3).sort_values('global_sales',ascending=False)[:10]

          global_sales
platform
GB               2.607
NES              2.562
GEN              1.050
PS4              0.855
SNES             0.841
X360             0.796
PS3              0.737
2600             0.730
Wii              0.715
XOne             0.708

In [230]:
df1_sales.pivot_table(index='platform', values='global_sales', aggfunc='sum').round(3).sort_values('global_sales',ascending=False)[:10]

          global_sales
platform
PS2            1254.97
X360            979.62
PS3             957.55
Wii             926.42
DS              821.60
PS              730.58
GBA             318.19
PSP             295.36
PS4             277.99
XB              258.10